:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Karla", sans-serif;
    --off-white: #dce0e3;
    --light-blue: #77a9c0;
    --medium-blue: #235aa6;
    --dark-blue: #121c34;
    --pastel-purple: #646589;
}
