/* FONTS */

/* poppins google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* karla google font */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800");

/* VAR */
:root {
    /* fonts */
    --header-font: "Poppins", sans-serif;
    --body-font: "Karla", sans-serif;
    /* color palette */
    --off-white: #dce0e3;
    --light-blue: #77a9c0;
    --medium-blue: #0449a1;
    --dark-blue: #1d4e7d;
    --pastel-purple: #646589;
}

/* GLOBAL */

body {
    font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
}
/* NAVBAR */

nav {
    /* transitions between two colors in the navbar*/
    background-image: linear-gradient(
        to right,
        var(--off-white),
        var(--light-blue)
    );
    font-family: var(--header-font);
    font-weight: bold;
}
#nav-ul-md {
    margin: 0 0 0 20rem;
}
#nav-home-md {
    font-weight: normal;
    font-size: 1.25rem;
    color: var(--dark-blue);
}
/* ensures notches etc. on primarily apple devices are account for by the navbar */
.navbar-safe-area {
    padding-top: calc(1rem + env(safe-area-inset-top));
    padding-right: calc(1rem + env(safe-area-inset-right));
    padding-left: calc(1rem + env(safe-area-inset-left));
    /* Bottom safe area is usually not needed for nav bars at the top, but right/left/top help with notches and rounded corners. */
    padding-bottom: 1rem;
}

/* overrides bootstrap defaults */
nav .nav-link {
    color: var(--dark-blue);
}
/* targets bs class to remove border around dropdown */
nav .navbar-toggler {
    border-radius: 10% / 50%;
    border: 4px solid;
    border-color: var(--dark-blue);
}
/* targets my logo */
nav img {
    width: 8rem;
    margin-left: 1rem;
}

/* HERO */

#hero {
    padding-top: 9.5rem;
    background: no-repeat url(../assets/images/bg-hero.png) 60% center / cover;
    min-height: 800px;
}

#hero img {
    width: 15rem;
}

#hero h1 {
    font-size: 1.5rem;
    color: var(--dark-blue);
    font-weight: bolder;
    text-align: center;
}

#hero h2 {
    font-size: 1rem;
    color: var(--dark-blue);
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

#hero span {
    color: var(--medium-blue);
    font-size: 1.2rem;
}

/* WHAT-IS */

#what-is {
    min-height: 450px;
    background-image: linear-gradient(
        to top,
        var(--light-blue),
        var(--dark-blue)
    );
}

#what-is h2 {
    font-size: 2rem;
    color: var(--off-white);
    text-align: center;
}

#what-is span {
    text-shadow: 1px 1px 1px white;
}

#what-is h3 {
    font-size: 0.9rem;
    color: var(--off-white);
    text-align: center;
}

.what-is-bullets {
    width: 2rem;
}

#what-is hr {
    color: var(--off-white);
}

#what-is-cta {
    width: 13rem;
}

/* FOOTER */

footer {
    min-height: 100px;
    /*
    transitions between two colors, opposite direction
    to navbar
    */
    background-image: linear-gradient(
        to left,
        var(--off-white),
        var(--light-blue)
    );
    font-family: var(--header-font);
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-blue);
}

footer a {
    text-decoration: none;
    color: var(--dark-blue);
}
/* safe area for touch screen controls and rounded screen edge corners */
.footer-safe-area {
    padding-right: calc(1rem + env(safe-area-inset-right));
    padding-left: calc(1rem + env(safe-area-inset-left));
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}

/* MEDIA QUERIES */

@media screen and (min-width: 992px) {
    /* FOOTER */
    .footer-safe-area {
        padding: 0 1rem 1rem 1rem;
    }
}
